[data-themes="dark"]{
    /*Background */
    --color-bg-default: #111827;
    --color-bg-subtle: #1f2933;

    /*Text */
    --color-text-primary: #f9fafb;
    --color-text-inverse: #111827;

    /* Brand */
    --color-brnad-primary: #60a5fa;
    --color-brand-hover: #3b82f6;

}
